/* Main app specific css file */

div.thermo_chart
{
	position: relative;
	height: 430px; 
	width: 900px; 
	margin-left: auto;
	margin-right: auto;
}

table.thermo_chart, th.thermo_chart, td.thermo_chart
{
	border: 1px solid black;
}

.remembered_input
{
	background: #BBFFBB;
}