/* Main app specific css file */

@font-face
{
  font-family: theToolbarFonts; /* Borrow font from the pChart library */
  src: url( "../lib/pChart2.1.3/fonts/pf_arma_five.ttf" );
}


div.thermo_chart
{
  position: relative;
  top: -10px;
  left: 10px;
  height: 430px; 
  width: 900px; 
  display: table-cell; 
  /* padding: 10px;  */
  /* border: 2px solid rgb( 255, 255, 255 ); */
  /* vertical-align: middle; */
  /* overflow: auto; */
  background-image: url('lib/pChart2.1.3/examples/resources/dash.png');
}

/* The toolbar might possibly be a better fit in the tabs.css file as a permanent change to that library? */
div.toolbar
{
  position: relative;
  top: -1px;
  left: -1px;
  width: 919px; /* Trial and error found that 919 is max pixels that will fit and still display. */
  height: 35px;
  display: table-cell; 
  /* border: 1px solid rgb( 0, 0, 0 ); */
  background: #448873;  /* Match color of selected tab. */
  vertical-align: middle;
  font-family: theToolbarFonts;
  font-size: 0.5em;
}

